<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.waterfairy.videorecord">

    <application>
        <activity
            android:name=".VideoRecordActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".VideoRecordPortActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>